<!DOCTYPE html>
<!--[if IE 8 ]><html class="no-js oldie ie8" lang="en"> <![endif]-->
<!--[if IE 9 ]><html class="no-js oldie ie9" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="no-js" lang="en"> <!--<![endif]-->

<head>

	<!--- basic page needs
   ================================================== -->
	<meta charset="utf-8">
	<title>About Us</title>
	<meta name="description" content="">
	<meta name="author" content="">

	<!-- mobile specific metas
   ================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- CSS
   ================================================== -->
	<link rel="stylesheet" href="/static/css/base.css">
	<link rel="stylesheet" href="/static/css/vendor.css">
	<link rel="stylesheet" href="/static/css/main.css">


	<!-- script
   ================================================== -->
	<script src="/static/js/modernizr.js"></script>
	<script src="/static/js/pace.min.js"></script>

	<!-- favicons
	================================================== -->
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

</head>

<body id="top">

	<!-- header 
   ================================================== -->
	<header class="short-header">

		<div class="gradient-block"></div>

		<div class="row header-content">

			<div class="logo">
				<a href="/index">Author</a>
			</div>
			<span class="website_name">
				Know The World
			</span>

			<nav id="main-nav-wrap">
				<div style="margin-top: 25px;">
					<ul class="main-navigation sf-menu">
						<li><a href="/index" title="">Home</a></li>
						<li class="has-children">
							<a href="category/default" title="">Categories</a>
							<ul class="sub-menu">
								<li><a href="category/b_f">Buisness & Finance</a></li>
								<li><a href="category/tech">Technology</a></li>
								<li><a href="category/health">Health & Medicine</a></li>
								<li><a href="category/sports">Sports</a></li>
								<li><a href="category/entertainment">Entertainment</a></li>
							</ul>
						</li>
						<!-- <li class="has-children">
					 <a href="single-standard" title="">Blog</a>
					 <ul class="sub-menu">
					 <li><a href="single-video">Video Post</a></li>
					 <li><a href="single-audio">Audio Post</a></li>
					 <li><a href="single-gallery">Gallery Post</a></li>
					 <li><a href="single-standard">Standard Post</a></li>
				  </ul>
				 </li>
				 <li><a href="style-guide" title="">Styles</a></li> -->
						<li class="current"><a href="about" title="">About</a></li>
						<li><a href="contact" title="">Contact</a></li>
						<li>
							<form method="post" action="/search_result">
								<input
								style="height: 1px;width: 100px ; border: 1px white solid ; border-radius: 25px; position: relative; bottom: 3px; text-align:center; background-color: black; color: white;"
									type="search" class="search-field" placeholder="Search" value="" name="s"
									title="Search for:" autocomplete="off">
							</form>
						</li>
						<li class="has-children" style="color: white;">
							{{user_name}}
							<ul class="sub-menu">
								<li><a href="/logout">Logout</a></li>
							</ul>
						</li>		
					</ul>
				</div>

			</nav> <!-- end main-nav-wrap -->

			<!-- <div class="search-wrap"> -->

			<!-- <form role="search" method="get" class="search-form" action="#">
				 <label>
					 <span class="hide-content">Search for:</span>
					 <input type="search" class="search-field" placeholder="Type Your Keywords" value="" name="s" title="Search for:" autocomplete="off">
				 </label>
				 <input type="submit" class="search-submit" value="Search">
			 </form>

			 <a href="#" id="close-search" class="close-btn">Close</a> -->

			<!-- </div> end search wrap	 -->

			<!-- <div class="triggers">
			 <a class="search-trigger" href="#"><i class="fa fa-search"></i></a>
			 <a class="menu-toggle" href="#"><span>Menu</span></a>
		 </div> end triggers	 -->


		</div>

	</header> <!-- end header -->


	<!-- content
   ================================================== -->
	<section id="content-wrap" class="site-page">
		<div class="row">
			<div class="col-twelve">

				<section>

					<div class="content-media">
						<img src="/static/images/thumbs/about-us.jpg">
					</div>

					<div class="primary-content">

						<h1 class="entry-title add-bottom">Learn More About Us.</h1>
						<p class="lead">Welcome to Know The World, your go-to source for reliable and up-to-date news and information. We are dedicated to delivering accurate and insightful content to our readers, covering a wide range of topics from local news to global events.
						</p>

						<p style="color: white;">Our mission is to empower our readers with knowledge, fostering a deeper understanding of the world around us. We believe in the power of journalism to drive positive change, spark meaningful conversations, and shed light on important issues.

							Whether you're interested in politics, technology, business, lifestyle, or any other topic, you'll find a wide range of engaging and informative articles on our website. We aim to cover diverse perspectives and ensure that our content is relevant and engaging for our readers.</p>

						<p style="color: white;">Thank you for visiting [Your News Website Name]. We appreciate your support and trust in our work. If you have any questions, suggestions, or feedback, please don't hesitate to reach out to us. We are always eager to improve and provide the best possible experience for our readers.

							Stay informed, stay connected, and let us be your reliable source for news and information.</p>

						<div class="row block-1-2 block-tab-full">
							<div class="bgrid">
								<h3>Who.</h3>
								<p style="color: white;">Our team comprises experienced journalists and writers who are passionate about delivering high-quality news content. Our team members have diverse backgrounds and expertise, allowing us to provide well-rounded coverage of various topics. From seasoned journalists to subject matter experts, we work together to ensure our readers receive reliable and insightful information.</p>
							</div>

							<div class="bgrid">
								<h3>When.</h3>
								<p style="color: white;">Our news website was launched today with the aim of delivering reliable and up-to-date news coverage. As a newly established platform, we are excited to embark on this journey of providing valuable news and information to our readers. We are committed to growing and improving every day, ensuring that our readers have access to the latest news developments and insightful analysis.</p>
							</div>

							<div class="bgrid">
								<h3>What.</h3>
								<p style="color: white;">Our news website is dedicated to delivering comprehensive and reliable news coverage from around the world. We strive to cover a wide range of topics, including politics, current events, technology, business, health, entertainment, and more. Our goal is to keep our readers informed and engaged by providing well-researched and high-quality content on a daily basis.</p>
							</div>

							<div class="bgrid">
								<h3>How.</h3>
								<p style="color: white;">At our news website, we adhere to the highest standards of journalism. We are committed to providing accurate and unbiased reporting, thoroughly fact-checking our articles, and verifying information from credible sources. Our dedication to journalistic integrity ensures that our readers receive reliable news and analysis that they can trust.</p>
							</div>

						</div>

					</div>

				</section>

			</div> <!-- end col-twelve -->
		</div> <!-- end row -->

	</section> <!-- end content -->


	<!-- footer
   ================================================== -->
	<footer>

		<div class="footer-main">

			<div class="row">

				<div class="col-four tab-full mob-full footer-info">

					<h4>About Our Site</h4>

					<p style="color: white;">
						Stay informed with our trusted news website. Get breaking news, insightful analysis, and diverse
						content. Your reliable source for up-to-the-minute updates.
					</p>

				</div> <!-- end footer-info -->

				<div class="col-two tab-1-3 mob-1-2 site-links">

					<h4>Site Links</h4>

					<ul>
						<li><a href="#">About Us</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Terms</a></li>
						<li><a href="#">Privacy Policy</a></li>
					</ul>

				</div> <!-- end site-links -->

				<div class="col-two tab-1-3 mob-1-2 social-links">

					<h4>Social</h4>

					<ul>
						<li><a href="#">Twitter</a></li>
						<li><a href="#">Facebook</a></li>
						<li><a href="#">Instagram</a></li>
					</ul>

				</div> <!-- end social links -->	

			</div> <!-- end row -->

		</div> <!-- end footer-main -->

		<div class="footer-bottom">
			<div class="row">

				<div class="col-twelve">
					<div class="copyright">
						<span style="color: white;">© Copyright Know The World 2023</span>
					</div>

					<div id="go-top">
						<a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
					</div>
				</div>

			</div>
		</div> <!-- end footer-bottom -->

	</footer>

	<div id="preloader">
		<div id="loader"></div>
	</div>

	<!-- Java Script
   ================================================== -->
	<script src="/static/js/jquery-2.1.3.min.js"></script>
	<script src="/static/js/plugins.js"></script>
	<script src="/static/js/main.js"></script>

</body>

</html>